<div class="container" id="grad">

  <div class="row">
    <div class="col-md-2 .col-sm-2 col-xs-1"> </div>
    <div class="col-md-8 .col-sm-8 col-xs-10">
      <div class="text-zone"><h2 id = "title">Séminaire Génie des Procédés</h2></div>
    </div>
    <div class="col-md-2 .col-sm-2 col-xs-1"> </div>
  </div>

  <div class="row">
    <div class="col-md-2 .col-sm-2 col-xs-1"> </div>
    <div class="col-md-8 .col-sm-8 col-xs-10">
      <div class="text-zone">
        <textarea id="message" placeholder="Ecrivez votre message puis appuyez sur entrée"></textarea>
      </div>
    </div>
    <div class="col-md-2 .col-sm-2 col-xs-1"> </div>
  </div>

  <!-- <div class="row fond">
    <div class="col-md-12 .col-sm-12 col-xs-12">
    </div>
  </div> -->

</div>
