<div class="container-fluid" id="grad">

  <div class="row">
    <div class="col-md-2 .col-sm-2 col-xs-1"> </div>
    <div class="col-md-8 .col-sm-8 col-xs-10">
      <!-- <div class="text-zone"><h2 id = "title"><%= @header.title %></h2></div> -->
      <div class="text-zone"><h2 id = "title">Les 40 ans de Sandrine</h2></div>
    </div>
    <div class="col-md-2 .col-sm-2 col-xs-1"> </div>
  </div>

  <div class="row">
    <div class="col-md-2 .col-sm-2 col-xs-1"> </div>
    <div class="col-md-8 .col-sm-8 col-xs-10">
      <div class="text-zone">
        <textarea id="message" placeholder="Ecrivez un mot pour Sandrine puis appuyez sur entrée ou clickez ok"></textarea>
        <button id="okbutton" class="btn btn-default">OK</button>
      </div>
    </div>
    <div class="col-md-2 .col-sm-2 col-xs-1"> </div>
  </div>

  <div class="row fond">
    <div class="col-md-2 .col-sm-2 col-xs-1"> </div>
    <div class="col-md-8 .col-sm-8 col-xs-10">
      <button class="btn btn-primary" id="buttoncloud"><%= link_to "Voir le nuage", avis_path, id: "cloudlink" , target: :_blank%></button>
    </div>
    <div class="col-md-2 .col-sm-2 col-xs-1"> </div>
  </div>

  <div class="row">
    <div class="col-md-12 .col-sm-12 col-xs-12" id = "error_message">
    </div>
  </div>

</div>
