<h1>Admin pannel</h1>
<button type="button" name="button"><%= link_to 'Delete database', admin_delete_path,
									              method: :delete,
									              data: { confirm: 'Are you sure?' } %></button>
